.BuildControl {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 5px 0;
}

.BuildControl button {
	display: block;
	font: inherit;
	padding: 5px;
	margin: 0 5px;
	width: 80px;
	border: 1px solid #AA6817;
	cursor: pointer;
	outline: none;
}

.BuildControl button:disabled {
	background-color: #ac9980;
	border: #7e7365;
	color: #ccc;
	cursor: default;
}

.Label {
	padding: 10px;
	font-weight: bold;
	width: 80px;
}

.BuildControl .Less {
	background-color: #d39952;
	color: white;
}

.BuildControl .More {
	background-color: #8f5e1e;
	color: white;
}

.BuildControl .Less:hover, .BuildControl .More:hover {
	background-color: #daa972;
	color: white;
}
